/* 頁尾設定 */
footer{
	font-size:14px;
	font-weight: 200;
    line-height: 1em;
	padding: 50px;
}
/* 回到本頁開頭 */
.pagetop {
    text-align: right;
    margin: 1em;
}
/* 著作權資訊 */
.copyright {
    border-top: solid 5px #CA5D87;
    text-align: center;
	padding-top: 20px;
}
.colorr{
    color:#146b40;
    background-color: rgb(95, 12, 12)919;
            

}
#profile{
    color:palevioletred
}

.size{font-size:25px;
   font-family: 標楷體;
}